<!DOCTYPE html>
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Imperial Diet Manager</h1>
  <p>We help you know what you eat and recommend what you should eat.</p> 
</div>
 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#"></a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <!-- <li><a href="#"></a></li>
        <li><a href="#"></a></li> -->
      </ul>
    </div>
  </div>
</nav>
 
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Introduction</h2>
      <!-- <h5></h5> -->
      <!-- <div class="fakeimg"></div> -->
      <p>We want to be your diet friend and help you know what nutrition you intake in every meal.
      The only thing you have to do is uploading pictures of your meal. We believe this is
      not hard for everybody because we are willing to take pictures when we meet with delicious 
      food and most people have the enthusiasm to share meal photos in social networking platform.
      So, try sharing the photos here! And you will get incredible experience.</p>
      <br/>
      <br/>
      <h3>Function link.</h3>
      <p>Here is link for you to enter the main function page.</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/magic">Magic world</a></li>
        <!-- <li><a href="#"></a></li> -->
        <!-- <li><a href="#"></a></li> -->
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-6">
      <h2>Food and Nutrition</h2>
      <!-- <h5></h5> -->
      <!-- <div class="fakeimg"></div> -->
      <img src="{{ img }}" alt="food photo" width="400" height="400">
    </div>
  </div>
</div>
 
<div class="jumbotron text-center" style="margin-bottom:0">
	<a href="http://www.runoob.com/bootstrap/bootstrap-make-a-website.html">html design reference</a>
  <!-- <p>Html Design</p> -->
</div>
</body>
</html>